body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#demo {
    position: absolute;
    top: 75%;
    left: 45%;
}

#myCanvas,#SecondCanvas,#MinuteCanvas,#HourCanvas,#Circle {
    display: block;
    margin: auto;
    border: 10px solid #737373;
    position: absolute;
    box-shadow: 0px 5px 10px #c2c2a3;
    top: 25%;
    left: 30%;
}


